<section>
  <h1 class="text-center mb-5 text-primary display-3 fw-bold">
    Portal de Notícias
  </h1>

  @if (cargando) {
  <div class="d-flex justify-content-center gap-3 align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <span>Cargando últimas noticias del momento</span>
  </div>
  } @else {
  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-3 justify-content-center"
  >
    @for (noticia of noticias; track $index) {
    <article
      class="bg-body-tertiary p-2 rounded d-flex flex-column justify-content-between"
    >
      <div>
        <img
          class="img-fluid rounded ratio ratio-16x9 mb-3"
          [src]="noticia.images.thumbnailProxied"
          [alt]="noticia.title"
        />
        <h5 class="">{{ noticia.title }}</h5>

        <p class="text-muted">
          Publicado por
          <span class="bg-body-secondary px-2 fw-bold rounded">{{
            noticia.publisher
          }}</span>
        </p>

        <p>{{ noticia.snippet }}</p>
      </div>

      <footer class="mt-auto">
        <p class="text-muted fw-bold mt-auto">
          Publicado el
          {{ noticia.timestamp | date : "dd/MM/yyyy" }}
        </p>
        <a class="" [href]="noticia.newsUrl">Leer árticulo completo</a>
      </footer>
    </article>
    }
  </div>
  }
</section>
