<div class="container">
  <h1 class="text-center mb-5 text-primary display-3 fw-bold">Traductor</h1>

  <form>
    <div class="row gap-3 mb-3 align-items-center">
      De
      <div class="col d-flex gap-3">
        @for (lenguaje of lenguajesDisponibles; track $index) {
        <div class="radio-option">
          <label [for]="'lang-' + lenguaje.code + '_source'">{{
            lenguaje.name
          }}</label>
          <input
            type="radio"
            name="source"
            [id]="'lang-' + lenguaje.code + '_source'"
            [value]="lenguaje.code"
            [(ngModel)]="traduccionRequest.source"
          />
        </div>
        }
      </div>
      a
      <div class="col d-flex gap-3">
        @for (lenguaje of lenguajesDisponibles; track $index) {
        <div class="radio-option">
          <label [for]="'lang-' + lenguaje.code + '_target'">{{
            lenguaje.name
          }}</label>
          <input
            type="radio"
            name="target"
            [id]="'lang-' + lenguaje.code + '_target'"
            [value]="lenguaje.code"
            [(ngModel)]="traduccionRequest.target"
          />
        </div>
        }
      </div>
    </div>
    <div class="row mb-3">
      <div class="form-floating col-12 p-0">
        <input
          type="text"
          class="form-control"
          id="query"
          name="query"
          placeholder="Hello world!"
          [(ngModel)]="traduccionRequest.q"
        />
        <label for="query">Texto a traducir</label>
      </div>
    </div>

    <div class="row">
      <button
        type="button"
        class="col-12"
        (click)="enviar()"
        [disabled]="cargando"
      >
        {{ cargando ? "Cargando..." : "Traducir" }}
      </button>
    </div>
  </form>

  @if (resultado && !cargando) {
  <div class="row mt-5">
    <div class="alert alert-info">
      <p class="fw-bold">Traduccion:</p>
      <p>{{ resultado }}</p>
    </div>
  </div>
  }
</div>
